* {
    box-sizing: border-box;
}

.wrapper {
    border: 2px solid #f76707;
    border-radius: 5px;
    background-color: #fff4e6;
    height: 240px;

    display: grid;
    grid-template-columns: repeat(3, 60px);
    grid-template-rows: repeat(2, auto);
    grid-template-areas:
        "a a a b b b c c c"
        "d d d e e e f f f";
    grid-gap: 10px;
}

.wrapper>div {
    width: 60px;
    height: 60px;
    border: 2px solid #ffa94d;
    border-radius: 5px;
    background-color: #ffd8a8;
    padding: 1em;
    color: #d9480f;
}

.wrapper div:nth-child(1) {
    grid-area: a;
}    

.wrapper div:nth-child(2) {
    grid-area: b;
}

.wrapper div:nth-child(3) {
    grid-area: c;
}

.wrapper div:nth-child(4) {
    grid-area: d;
}

.wrapper div:nth-child(5) {
    grid-area: e;
}

.wrapper div:nth-child(6) {
    grid-area: f;
}
