body {
    font-family: "Raleway", sans-serif;
    background-color: #1f1f1f;
    height: 2000px;
    color: #bfbfbf;
}

h1 {
    font-weight: normal;
}

em {
    color: #dd740b;
}

.box {
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
}

.blueBox {
    background-color: #627da0;
    position: fixed;
    bottom: 50px;
}

.originalPosition {
    border: 1px solid red;
    position: absolute;
    z-index: -1;
}

.lightblueBox {
    background-color: #ceecff;
    position: relative;
    top: 50px;
    left: 50px;
}

.brownBox {
    background-color: #a08482;
    position: absolute;
    top: 30px;
    left: 120px;
}

.greenBox {
    background-color: #5b8054;
}

.container {
    background: rgba(0, 0, 0, 0.4);
    height: 300px;
    width: 300px;
    border: 1px solid silver;
    margin-top: 20px;
    margin-left: 400px;
    margin-bottom: 10px;
    position: absolute;
}

.label {
    background: #ffffbf;
    color: grey;
}

span {
    padding: 0px 5px;
}

// .case1 {
//     visibility: hidden;
// }

// .case2 {
//     visibility: hidden;
// }

// .case3 {
//     visibility: hidden;
// }

$top: 50px;
$left: 50px;
$offset: 50px;
$container-top: 800px;

.container1 {
    @extend .container;
    top: $container-top;
}

.boxOne {
    position: absolute;
    background-color: #7700b3;
    top: $top;
    left: $left;
}

.boxTwo {
    position: absolute;
    background-color: #24b300;
    top: $top + $offset;
    left: $left + $offset;
}

.container2 {
    @extend .container;
    height: 600px;
    width: 500px;
    top: $container-top + 310px;
}

.boxThree {
    background-color: #7700b3;
    float: left;
    margin-right: 10px;
}

.boxFour {
    background-color: #24b300;
    float: left;
    margin-right: 10px;
}

.container2 p {
    clear: left;
}

.align-bottom {
    float: right;
}

/*
    For auto center horizontaly use:
    
        .blueBox {
            matgin: 0 auto;
        }

    Note: The element should have a width property set.

        .box {
            width: 100px;
            height: 100px;
        }

    To center vertically use: 

        .blueBox {
            position: absolute;
            top: 50%;               // the upper line of the element lies at the center
            margin-top: -50px;      // adjust with half of the height
        }
*/

.container3 {
    @extend .container1;
    left: -300px;
}

.boxFive {
    background-color: #24b300;
    margin: 0 auto;
}

.container4 {
    position: absolute;
    top: 50%;
    margin-top: -75px; // half of the box height
    left: 0;
    width: 100%;
}
